<div class="education">
  <table class="table table-sm table-borderless">
    <tr>
      <td class="p-2" style="width: 10%; vertical-align: middle;">
        <img src="{{ '/assets/img/KAIST_logo.svg' | relative_url }}" alt="KAIST" style="width: 60px; height: auto;">
      </td>
      <td class="p-2" style="vertical-align: middle;">
        <b>Ph.D. in Artificial Intelligence</b> <br>
        KAIST AI, Seoul, South Korea <br>
        <span style="font-size: 0.8rem; color: gray;">Advised by Prof. Seungryong Kim</span>
      </td>
      <td class="p-2 text-right" style="width: 25%; vertical-align: middle;">
        <b>Sep. 2025 - Present</b>
      </td>
    </tr>

    <tr>
      <td class="p-2" style="width: 10%; vertical-align: middle;">
        <img src="{{ '/assets/img/KoreaUniv_logo.svg' | relative_url }}" alt="Korea Univ" style="width: 60px; height: auto;">
      </td>
      <td class="p-2" style="vertical-align: middle;">
        <b>B.S. in Computer Science and Engineering</b> <br>
        Korea University, Seoul, South Korea <br>
        <span style="font-size: 0.8rem; color: gray;">Graduated with Great Honor (GPA: 4.42/4.5)</span>
      </td>
      <td class="p-2 text-right" style="width: 25%; vertical-align: middle;">
        <b>Mar. 2022 - Aug. 2025</b>
      </td>
    </tr>
  </table>
</div>
